alembic==1.12.0
anthropic==0.67.0
blinker==1.6.2
click==8.1.7
email-validator==2.1.0.post1
flask==2.3.3
Flask-Admin==1.6.1
Flask-Login==0.6.2
Flask-Migrate==4.0.5
flask-sqlalchemy==3.1.1
Flask-WTF==1.1.1
google-generativeai==0.8.5
greenlet
gunicorn==21.2.0
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
markdown==3.9
MarkupSafe==2.1.3
openai>=2.0.0
packaging==23.1
psycopg2-binary
python-dotenv==1.0.0
pytz==2023.3.post1
SQLAlchemy==2.0.20
typing-extensions==4.13.0
werkzeug==2.3.7
WTForms==3.0.1
zipp==3.16.2
