{% extends 'base.html' %}

{% block title %}Reset User Password{% endblock %}

{% block content %}

    <h1>Admin: Reset User Password</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email() }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    <br>
    <a href="{{ url_for('main.index') }}">Home</a>

{% endblock %}