{% extends "nfl_survivor/layout.html" %}

{% block ns_title %}All Picks{% endblock %}

{% block ns_content %}
<div class="ns-table-scroll">
  <table class="ns-styled-table">
    <thead>
      <tr class="ns-header-row">
        <th class="ns-first-col">Entry</th>
        <th class="ns-second-col">L</th>
        {% for week in all_picks.keys() %}
        <th>Wk {{ week }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for participant in sorted_participants %}
      <tr>
        <td class="ns-first-col">{{ participant.display_name }}</td>
        <td class="ns-second-col">{{ wrong_picks_count.get(participant.id, 0) }}</td>
        {% for week, week_picks in all_picks.items() %}
        {% set cell = week_picks.get(participant.id, {}) %}
        <td class="{% if cell.get('is_correct') is true %}ns-correct{% elif cell.get('is_correct') is false %}ns-incorrect{% else %}ns-nopick{% endif %}">
          {{ cell.get('team', '') }}
        </td>
        {% endfor %}
      </tr>
      {% else %}
      <tr>
        <td colspan="99" class="ns-help-text" style="padding: 1.5rem;">No completed weeks to show yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
